@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 어디서든 접근 가능한 변수들 목록 */
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NeoDunggeunmoPro-Regular";
  background-image: url(/_next/static/media/background-img2.b85b58d4.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
